.rounded-circle {
    border-radius: 50% !important;
}

.avatar-lg {
    height: 10rem;
    width: 10rem;
}

.mt-2, .my-2 {
    margin-top: .5rem !important;
}

.mt-3, .my-3 {
    margin-top: 1rem !important;
}

.d-block {
    display: block;
}

.bg-light {
    background-color: #f8f9fa !important;
}

